<link rel="stylesheet" href="{{ asset('bundles/survivalkit/assets/css/maintenance-mode.css') }}"/>
<link rel="icon" type="image/x-icon" href="{{ asset('bundles/survivalkit/favicon.ico') }}">

<div id="maintenance-mode">
    <div class="container-fluid container-maintenance-mode">
        <div class="d-flex flex-column opacity-maintenance-mode">
            <div class="col-12 p-0">
                <h1 class="h1-maintenance-mode">Désolé, nous sommes en maintenance. Nous serons de retour sous peu.</h1>
                <p class="small">L'équipe Youdge.com</p>
            </div>
        </div>
    </div>
</div>
