<link rel="stylesheet" href="{{ asset('bundles/survivalkit/assets/css/maintenance-mode.css') }}"/>

<div id="result-error">
    <div class="container-fluid container-result-error">
        <div class="d-flex flex-column opacity-result-error">
            <div class="col-12 p-0">
                <h1 class="h1-result-error">Désolé, nous sommes en maintenance. Nous serons de retour sous peu.</h1>
                <p class="small">L'équipe Youdge.com</p>
            </div>
        </div>
    </div>
</div>
